.lead {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 4%;
}
@media screen and (max-width: 1024px) {
  .lead {
    padding: 0 5%;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}
