.grid-places {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 48px;
}
@media screen and (max-width: 956px) {
  .grid-places {
    padding: 0 24px;
  }
}
@media screen and (max-width: 740px) {
  .grid-places {
    padding: 0;
  }
}
