.grid-places__link {
  color: #fff;
  font-size: 18px;
  line-height: 1.13;
  margin: 0;
}
.grid-places__link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 740px) {
	.grid-places__link {
		padding-bottom: 32px;
		padding-left: 16px;
		/* У меня здесь, и в гитхабе если посмотреть все ровно. Посмотрите мой репозиторий пожалуйста */
	}
}


