.grid-places__url{
  letter-spacing: 0.2em;
  color: #AAAAAA;
  font-size: 12px;
  line-height: 1.7;
  margin: 0 0 12px;
  text-transform: uppercase;
}
@media screen and (max-width: 956px) {
  .grid-places__url {
    line-height: 1.0;
  }
}
@media screen and (max-width: 740px) {
  .grid-places__url {
    padding-left: 16px;
  }
}
