.grid-places__text {
  max-width: 484px;
  margin: 0 0 24px;
  font-size: 18px;
  line-height: 29px;
}
.grid-places__text:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 956px){
  .grid-places__text {
    font-size: 16px;
    line-height: 26px;
    margin: 0px 0px 25px;
  }
    .grid-places__text:last-child {
      margin-bottom: 0;
  }
}
@media screen and (max-width: 576px){
  .grid-places__text {
    margin: 0 16px 24px;
  }
}
